.container-header {
  position: fixed;
  z-index: 2;

  display: flex;
  justify-content: center;

  background-image: url('../../assets/home/norte.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: 300px;
  width: 100%;
}