.container-header {
  position: fixed;
  z-index: 2;

  display: flex;
  justify-content: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: 300px;
  width: 100%;
}